body {
  background-color: gainsboro;
}

main {
  width: 960px;
  margin: 0 auto;
}

.content-and-sidebar {
  display: flex;
}

@media (max-width: 700px) {
  .content-and-sidebar {
    flex-direction: column;
  }

  main {
    width: 90vw;
  }
}
