.template {
  display: none;
}

.clearfix li {
  list-style: none;
  background-color: rgb(50, 41, 124);
  font-size: 1.3em;
  margin: 10px 0px;
  padding: 5px 5px;
}

.clearfix li a {
  text-decoration: none;
  color: white;
}
